
html {
    scroll-behavior: smooth; /* Omogućava glatko pomeranje */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
    flex-direction: column;   
}

header {
    background-color: #333;
    padding: 10px 0;
    width: 100%;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 10px 25px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
        text-decoration: none;
        background-color: white;
        border: 1px solid white;
        border-radius: 15%;
        padding: 12%;
        color: #333;

}

#home {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

#home h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#home p {
    font-size: 18px;
}




form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}


label {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}


input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1f7223;
}

textarea {
    resize: vertical;
}

form br {
    display: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    header nav ul {
        align-items: center;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    header nav ul li a {
        font-size: 14px;
    }

    #home h1 {
        font-size: 28px;
    }

    #home p {
        font-size: 16px;
        padding: 0 15px;
    }

    form {
        padding: 15px;
        max-width: 500px;
    }

    input[type="text"], input[type="email"], textarea {
        font-size: 16px;
    }

    button {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    #home h1 {
        font-size: 24px;
    }

    #home p {
        font-size: 14px;
        padding: 0 10px;
    }

    header nav ul {

        align-items: center;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    header nav ul li a {
        font-size: 14px;
    }

    form {
        padding: 10px;
        max-width: 90%;
    }

    input[type="text"], input[type="email"], textarea {
        font-size: 16px;
    }

    button {
        font-size: 14px;
        padding: 8px 15px;
    }

    footer {
        font-size: 12px;
    }
}
